body {
    background-color: #595959;
    margin: 0;
}

@font-face {
    font-family: Minecraftia;
    src: url("../Minecraftia-Regular.ttf");
}

#container {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
    width: 400px;
    height: 8px;
}

body.death {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1#died {
    font-family: Minecraftia;
    font-size: 75px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 60vh;
}
h1#score {
    font-family: Minecraftia;
    font-size: 55px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
}
button {
    position: absolute;
    margin-top: 10%;
    background-color: grey;
    font-family: Minecraftia;
    font-size: 50px;
    color: white;
    border-radius: 10px;
    height: 10%;
}
